<div class="col-md-5 bg-faded">
  <form (submit)="onBlockSubmit()">
      <div class="form-group">
        <label class="form-control-label">ID</label>
        <input class="form-control" type="number" [(ngModel)]="blockData.id" name="id" #name="ngModel">
      </div>
    <div class="form-group">
      <label class="form-control-label">Nonce</label>
      <input class="form-control" type="number" [(ngModel)]="blockData.nonce" name="nonce" #name="ngModel">
    </div>
    <div class="form-group">
      <label class="form-control-label">Data</label>
      <textarea class="form-control" [(ngModel)]="blockData.body" name="body" #name="ngModel"></textarea>
    </div>
    <div class="form-group">
      <label class="form-control-label">Prev</label>
      <input class="form-control" type="text" [(ngModel)]="blockData.prev" name="prev" #name="ngModel">
    </div>
    <div class="form-group">
      <label class="form-control-label">Hash</label>
      <input class="form-control" type="text" [(ngModel)]="blockData.hash" name="hash" #name="ngModel">
    </div>
      <input type="submit" class="btn btn-primary" value="Submit">
  </form>
  </div>
