<h1>Crypto Keys</h1>
<div class="row">
  <button class="btn btn-primary" (click)="generateKeys()">Generate Keys</button>
</div>
<div class="row">
  <div class="card col-md-6">
    <div class="card-block">
      <div class="card-title">
        Private Key (Secure)
      </div>
      <div class="card-text">
        <textarea class="form-text">{{secKey}}</textarea>
      </div>
    </div>
  </div>
  <div class="card col-md-6">
    <div class="card-block">
      <div class="card-title">
        Public Key (Shared)
      </div>
      <div class="card-text">
        <textarea class="form-text">{{pubKey}}</textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card-block">
    <div class="card-title">
      Rebuilt Private Key (Secure)
    </div>
    <div class="card-text">
      <textarea class="form-text">{{reKey}}</textarea>
    </div>
      <button class="btn btn-secondary" (click)="doRebuildKey()">Rebuild Key</button>
  </div>div>
</div>
