<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand fa fa-th-large" href="#"> BlockHead</a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/crypto" routerLinkActive="active">Crypto</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/Streamweaver/BlockHead" target="_blank">Code <i class="fa fa-github"></i></a>
      </li>
    </ul>
  </div>
</nav>
