<div class="container card">
  <fieldset>
    <label for="blockid">ID</label>
    <input type="number" [(ngModel)]="blockid" name="blockid">
  </fieldset>
  <fieldset>
    <label for="nonce">Nonce</label>
    <input type="number" [(ngModel)]="nonce" name="nonce">
  </fieldset>
  <fieldset>
    <label for="content">Content</label>
    <textarea type="string" [(ngModel)]="content" name="content"></textarea>
  </fieldset>
  <fieldset>
    <label for="prev_block">Prev</label>
    <input type="number" [(ngModel)]="prev_block" name="prev_block">
  </fieldset>
  <div>
    Checksum: {{ this.hash }}
  </div>
</div>
<button class="btn btn-primary">Test</button>
